@{
    ViewData["Title"] = "Our Ministries";
}

<div class="container">

    <h2>@ViewData["Title"]</h2>

    <div class="row">
        <div class="col-md-9">
            <div class="sub-text-wrapper">
                <div class="sub-text">
                    <div class="sub-text-headline">
                        <h4>
                            The ministries of Burgessville Baptist Church are ever changing to meet the needs of our immediate community. We provide Ministries for Families, Adults, Youth and Children. Our goal is to be welcoming, down to earth and 
                            inclusive in all that we do. 
                            We want all people to feel welcome to explore, learn and ask questions about God, life and faith. We want our ministries to reflect the deep faith we have in Christ, 
                            but also to allow people in every walk of life the freedom to join us and be part of the community we have here at Burgessville Baptist Church. 
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
                <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Ministry" && ViewContext.RouteData.Values["Action"].ToString() == "Family" ? "active" : "")" role="presentation"><a asp-controller="Ministry" asp-action="Family">Familly Ministry</a></li>
                <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Ministry" && ViewContext.RouteData.Values["Action"].ToString() == "Adult" ? "active" : "")" role="presentation"><a asp-controller="Ministry" asp-action="Adult">Adult Ministry</a></li>
                <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Ministry" && ViewContext.RouteData.Values["Action"].ToString() == "Youth" ? "active" : "")" role="presentation"><a asp-controller="Ministry" asp-action="Youth">Youth Ministry</a></li>
                <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Ministry" && ViewContext.RouteData.Values["Action"].ToString() == "Children" ? "active" : "")" role="presentation"><a asp-controller="Ministry" asp-action="Children">Children Ministry</a></li>
            </ul>
        </div>
    </div>
</div>