@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>@ViewData["Title"] - Burgessville Baptist Church</title>

    <environment names="Development">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>

    <environment names="Staging,Production">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <div class="panorama-header">
        <img alt="log" src="~/images/logo_alpha.png" class="logo-image" />
    </div>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Home" && ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")"><a class="custom-navbar-text" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "About" ? "active" : "")"><a class="custom-navbar-text" asp-area="" asp-controller="Home" asp-action="About">About Us</a></li>
                    <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Ministry" ? "active" : "")"><a class="custom-navbar-text" asp-area="" asp-controller="Ministry" asp-action="Index">Our Ministries</a></li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Event" ? "active" : "")"><a class="custom-navbar-text" asp-area="" asp-controller="Home" asp-action="Event">Events</a></li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Calendar" ? "active" : "")"><a class="custom-navbar-text" asp-area="" asp-controller="Home" asp-action="Calendar">Calendar</a></li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Contact" ? "active" : "")"><a class="custom-navbar-text" asp-area="" asp-controller="Home" asp-action="Contact">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </nav>
    @RenderBody()

    <footer class="information-container">

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-7">
                    <img class="footer-map" src="~/images/footer_map.png" alt="map of burgessville" />
                </div>
                <div class="col-md-5">
                    <div class="footer-content">
                        <h3>We would like to Connect With YOU!</h3>
                        <address>
                            <table class="table table-hover">
                                <tbody>
                                    <tr>
                                        <td><span class="glyphicon glyphicon-phone-alt"></span>&nbsp;Phone</td>
                                        <td>519-424-9817</td>
                                    </tr>
                                    <tr>
                                        <td><span class="glyphicon glyphicon-envelope"></span>&nbsp;Email Pastor Emma Johnston</td>
                                        <td><a href="mailto:emmajohnston.pastor@gmail.com">emmajohnston.pastor@gmail.com</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </address>

                        <h3>Follow us on our Facebook Page</h3>
                        <a class="btn btn-facebook" href="https://www.facebook.com/Burgessville-Baptist-Church-169960646782176/?ref=nf" role="button">Sign in with Facebook</a>
                        
                        <div class="row footer-copyright-container">
                            <div class="col-md-9">
                                <div class="footer-copyright-text">&copy; 2017 - Burgessville Baptist Church</div>
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-default go-top-btn" onclick="topFunction()" id="myBtn" title="Back To Top" data-toggle="tooltip">Back To Top</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>      

    </footer>
  
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>

        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>

        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function (b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l; b[l] || (b[l] =
            function () { (b[l].q = b[l].q || []).push(arguments) }); b[l].l = +new Date;
            e = o.createElement(i); r = o.getElementsByTagName(i)[0];
            e.src = 'https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e, r)
        }(window, document, 'script', 'ga'));
        ga('create', 'UA-100013573-1', 'auto'); ga('send', 'pageview');
    </script>
</body>
</html>

