@model ChurchWebsite.Presentation.Models.EventsModels.EventItem

@{
    ViewData["Title"] = "Event Details";
}
<div class="container">
    <h2>Event Details</h2>

    <div>
        <h4>EventItem</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.EventTitle)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.EventTitle)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.EventText)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.EventText)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.EventDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.EventDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.EventDateExpiry)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.EventDateExpiry)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.RecordId">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</div>