@model IEnumerable<ChurchWebsite.Presentation.Models.EventsModels.EventItem>

@{
    ViewData["Title"] = "Events";
}

<div class="container">

    <h2>Event Listing</h2>
    <p>
        <a asp-action="Create">Create New Event</a>
    </p>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EventTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EventText)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EventDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EventDateExpiry)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="width:130px;">
                        @Html.DisplayFor(modelItem => item.EventTitle)
                    <td>
                        @Html.DisplayFor(modelItem => item.EventText)
                    </td>
                    <td style="width:150px; height:50px;">
                        @Html.DisplayFor(modelItem => item.EventDate)
                    </td>
                    <td style="width:150px; height:50px;">
                        @Html.DisplayFor(modelItem => item.EventDateExpiry)
                    </td>
                    <td style="width:150px; height:50px;">
                        <a asp-action="Edit" asp-route-id="@item.RecordId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.RecordId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.RecordId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>